<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: 'Crea tu Producto'}) %>
        <script src="../../public/js/validate-create-product.js"></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div>
                <h2>Formulario de Creación de Producto</h2>
                <div id="errors-list"><ul></ul></div>
                <form
                    id="create-product-form"
                    action="/products/new"
                    method="POST"
                    enctype="multipart/form-data"
                >
                <div>
                    <div>
                        <label for="name">Nombre de Producto</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div>
                        <label for="description">Descripción</label>
                        <input
                            type="textarea"
                            name="description"
                            id="description"
                        />
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input type="text" name="price" id="price" />
                    </div>
                    <div>
                        <label for="discount">Descuento</label>
                        <input type="text" name="discount" id="discount" />
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" />
                    </div>
                    
                        <label for="category">Categoría</label>
                        <select name="category" id="category">
                            <option value="offer">Oferta</option>
                            <option value="out-sale">Sin stock</option>
                        </select>
                    </div>
                    <!--<div>node
                     <div>
                        <label for="size">Talle</label>
                        <label for="size">
                            <input type="checkbox" value="N" />18
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />19
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />20
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />21
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />22
                        </label>
                    </div> -->
                    <div>
                        <button type="submit">Crear producto</button>
                    </div>
                </form>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
