<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main class="">
            <section>
                <h2>Nuestros productos</h2>
                <div id="container" class="">
                    <% products.forEach((product,i) => { %> <%-
                    include('product-card', {product: product}) %> <% }) %>
                </div>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
