<article>
    <img class="width-99" src="/img/zapatito-prueba.jpg" alt="img-producto1" />
    <h3>Lorem, ipsum dolor.</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
        reprehenderit. Fuga culpa itaque dignissimos temporibus optio. Suscipit
        necessitatibus explicabo voluptas!
    </p>
</article>
