<footer id="footer">
    <div class="footer-box">
        <h3>Contacto</h3>
        <p>Correo: xxxxxxx@gmail.com</p>
        <p>Whatsapp: 15-xxxxxxx</p>
        <p>Dirección: xxxxxxxxxxxxxx</p>
    </div>
    <div class="footer-box">
        <h3>Medios de pago</h3>
        <p>Tarjetas de crédito y débito</p>
        <p>Transferencias</p>
        <p>Pago fácil</p>
    </div>
    <div class="footer-box">
        <h3>Formas de entrega</h3>
        <p>Correo argentino</p>
        <p>Retiro en sucursales</p>
        <p>Entrega a Domicilio</p>
    </div>
</footer>
