<header class="background-main flex wrap width-100">
    <div class="header-top flex-center flex-align-center">
        <img
            id="logo"
            class="width-100 img-logo"
            src="/img/banner.png"
            alt="img-logo"
        />
    </div>
    <div>
        <form class="search-form" action="#" method="GET">
            <input
                type="search"
                placeholder="Buscar productos, marcas y más"
                name="search"
            />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div id="menu-toggle" class="md-hide">
        <i id="toggle-menu-button" class="fa fa-bars burger"></i>
    </div>
    <div class="hide space-between width-100">
        <nav id="main-nav">
            <ul class="nav-links">
                <li><a href="/"> Home</a></li>
                <li>
                    <a href="/products/"> Producto </a>
                </li>
                <li>
                    <a href="/cart"> Carrito</a>
                </li>
                <li>
                    <a href="/users/login"> Ingreso</a>
                </li>
                <li>
                    <a href="/users/register"> Registrate</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
