<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head", { title: "Registrate" }) %>
        <script src="../../public/js/validate-register.js"></script>
    </head>

    <body>
        <%- include("../partials/header") %>

        <main class="reg-log">
            <h2 class="reg-log-box">Crea tu cuenta</h2>
            <div id="errors-list"><ul></ul></div>
            <form id="register-form" action="/users" method="POST">
                <div class="reg-log-box">
                    <p><label for="name">Nombre Completo:</label></p>
                    <input
                        type="text"
                        id="name"
                        name="first_name"
                        placeholder="Ingrese nombre completo"
                    />

                    <p><label for="last-name">Apellido:</label></p>
                    <input
                        type="text"
                        id="last-name"
                        name="last_name"
                        placeholder="Ingrese apellido"
                    />

                    <p><label for="date">Fecha de nacimiento</label></p>
                    <input type="date" id="date" name="date" />

                    <p><label for="username">Nombre de Usuario:</label></p>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Ingrese nombre de usuario"
                    />

                    <p><label for="email">E-mail</label></p>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Ingresa tu e-mail"
                    />

                    <p><label for="password">Crea tu Contraseña</label></p>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Ingresa nueva contraseña"
                    />
                </div>

                <!-- <div class="reg-log-box">
                    <span
                        ><p><label for="">Sexo:</label></p></span
                    >
                    <span><input type="radio" name="sex" /> Masculino</span>
                    <span><input type="radio" name="sex" /> Femenino</span>
                    <span><input type="radio" name="sex" /> Otros</span>
                         -->
                <p>
                    <button type="submit">Registrar</button>
                    <button type="reset">Limpiar</button>
                </p>
            </form>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
